<aside class="page-sidebar author-sidebar">
  <header class="page-sidebar--header">
    <div class="header-container--left">
      <h5 class="header--title">Faqs</h5>
    </div>
    <div class="header-container--right">
      <ul class="header-container--right__actions">
        <!-- <li><i class="search-icon">Search</i></li> -->
        <li><%= link_to 'New Author', fuel.new_admin_faq_path, class: 'add-icon' %></li>
      </ul>
    </div>
  </header>
  <ul class="resource-list faq-list">
    <% @faqs.each do |faq| %>
      <%= link_to fuel.edit_admin_faq_path(faq) do %>
        <li class="resource-item faq-item <%= 'active' if faq && @faq == faq %>">
          <p class="faq-item--category"><%= "Category: #{faq.faq_category ? faq.faq_category.name : 'None'}" %></p>
          <h5 class="faq-item--title"><%= truncate_html(faq.question, length: 60).html_safe %></h5>
          <p class="faq-item--content"><%= truncate_html(faq.answer, length: 60).html_safe %></p>
        </li>
      <% end %>
    <% end %>
  </ul>
</aside>
