<%= form_for @category, url: @url, html: { multipart: true } do |f| %>
  <% if @category.errors.any? %>
    <div class="alert alert--warning">
      <p class="alert--content"><%= @category.errors.full_messages.to_sentence %></h2></p>
      <%= link_to '#', class: 'alert--trigger' do %>
        <%= embedded_svg 'fuel/icons/alert-icon.svg', class: 'alert--close-icon' %>
      <% end %>
    </div>
  <% end %>
  <div class="form-container--left">
    <fieldset>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </fieldset>
    <fieldset class="fieldset">
      <%= f.submit class: 'button button--secondary' %>
      <% if @category.id %>
        <%= link_to 'Delete Category', fuel.admin_category_path(@category), method: :delete, data: { confirm: "Are you sure you want to delete #{@category.name}?" }, class: "delete-post button button--danger" %>
      <% end %>
    </fieldset>
  </div>
<% end %>